.register-h1{
  margin-left: 10rem;
  color: white;
  font-size: 7rem;
  text-align:center;
  font-family: "Montserrat-Bold";
}

.login-h1{
  text-align: center;
  font-size: 7rem;
  margin-right: -13%;
  font-family: "Montserrat-Bold";
  font-weight: bold;
  margin-top:100px;
}


.setting{
  margin-left: 10rem;
  color: white;
  text-align:right;
  font-size: 1.5rem;
  padding: 3%;

}


.register-body{
  background: url("img/slider2.jpg") no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
  color: white;
  text-align:center;
  margin-left:80px;
}

.login-body{
  background: url("img/about.png") no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
  color: white;
}

.login-img{
  padding: 15%;
  width: auto;
}


.div-1{
  text-align: center;
  line-height: 1.5rem;
  font-size: 2rem;
  padding: 2.5% 8%;
}

.login-password{
  position: relative;


}

.login-quote{
  text-align: center;
  line-height: 1rem;
  font-size: 1.5rem;
  font-weight:bold;
}


@media screen and (max-width:991px) {
  body{
    background-image:empty;
    background-color:#ff468;
  }
}
